@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  background: #0f0f0f;
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  margin: 0;
}

#app {
  font-family: Iosevka Web, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.markContainer span {
  pointer-events: none;
  user-select: none;
  margin: 5px;
}
